<%= image_tag @post_attachment.images %>
<%= form_for(@post_attachment) do |f| %>
  <div class="field">
    <%= f.label :images %><br>
    <%= f.file_field :images %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>